.filter-selected {
  font-weight: bold;
  color:#37B04C;
}
.react-datepicker__day--highlighted {
  background-color:rgb(196, 238, 203);
  font-weight: bold;
  color:#37B04C;
  border-radius:50%;
  // display:none;
}