$primary-background : #fff;
$secondary-background:#f7f7f7;
$success-background:#37B04C;
$primary-text-color:#000000;
$secondary-text-color: #4D4F5C;
$third-text-color:#707070;
$shadow-color:#ebebebe8;